name: release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  homebrew:
    environment: release
    runs-on: ubuntu-latest
    steps:
      - name: update homebrew tap
        uses: Justintime50/homebrew-releaser@v1
        with:
          homebrew_owner: tcurdt
          homebrew_tap: homebrew-tap
          github_token: ${{ secrets.PAT_RELEASE }}
          install: |
            system "cargo", "install", *std_cargo_args
          test: |
            assert_match "envq", shell_output("#{bin}/envq --help")

            (testpath/"test.env").write("KEY=value\n")
            assert_equal "value", shell_output("#{bin}/envq get KEY test.env").strip
          depends_on: |
            "rust" => :build
