name: release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  homebrew:
    environment: release
    runs-on: ubuntu-latest
    steps:
      - name: update homebrew tap
        uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: envq
          homebrew-tap: tcurdt/homebrew-tap
          download-url: https://github.com/tcurdt/envq/archive/refs/tags/${{ github.ref_name }}.tar.gz
        env:
          COMMITTER_TOKEN: ${{ secrets.PAT_RELEASE }}
